<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us Page</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo.png">
    <style>
        .discription{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: left;
        }
    </style>
</head>
<body>
    <div class="bodycontainer">
        <div class="first_content_header">
            <div class="header">
                <div class="img">
                    <img src="../static/images/logo.jpeg" alt="image">
                </div>
                <div class="content">
                    <div class="nav-bar">
                        <a href="/">Home</a>
                        <a href="/about">About Us</a>
                        <a href="/student-login">Student Login</a>
                        <a href="/lecturer-login">Lecturer Login</a>
                        <a href="/admin">Admin Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-content">
            <div class="discription">
                <h3>
                    about
                </h3>
                <h6>about the software</h6>
            </div>
        </div>
        <div class="container">
            <p>
                Presently, the department of computer science Hassan usman polytechnic, Katsina is one of those departments that do not have a standard web C.A and Exam
                attendance tracking and management system. So it is very necessary to improve the way attendance is been carried out and managed. For instance, during a test
                or examination, sheets are provied to the students to register their names and registration number which will serve as an attendance sheet for the student who
                participated in the test, However, a student can invite his/her friend from within or outside the department who is good in a course to sit for him/her in a test or
                exam, which is a form of examination malpractice, and difficult for the lecturer to know. In other to avoid such, it is important to develope a well structured CA and
                Exam attendance tracking and management system for the department, which will eradicate the problems that occurs using manual attendance tracking and
                management system.
            </p>
        </div>
    </div>
</body>
</html>