<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturer - Login</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo.png">
    <style>
        .form{
            width: 40%;
        }
        .form-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .form-section .row{
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="bodycontainer">
        <div class="body-content">
            <div class="discription">
                <h3>
                    lecturer login 
                </h3>
            </div>
        </div>
        <div class="form-section">
            <div class="form">
                {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <input type="text" name="username" id="" class="form-control" placeholder="Username">
                    </div>
                    <div class="row">
                        <input type="password" name="password" id="" class="form-control" placeholder="Password">
                    </div>
                    <div class="row">
                        <button class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="body-content">
            <div class="discription">
                <h6 class="text-center">
                    This page is for Lecturer's to login and Assess their student's. <a href="/" class="">Click</a> to go back home
                </h6>
            </div>
        </div>
        <div class="img">
            <img src="../static/images/logo.jpeg" alt="image">
        </div>
    </div>
</body>
</html>