<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecturer Page</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/images/logo.png">
    <style>
        .img img{
            height: 60px;
            width: 100px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="bodycontainer">
        <div class="first_content_header">
            <div class="header">
                <div class="img">
                    <img src="../static/images/logo.jpeg" alt="image">
                </div>
                <div class="content">
                    <div class="nav-bar">
                        <a href="/lecturer-page">Home</a>
                        <a href="/take-student-attendance">Take Student Attendance</a>
                        <a href="/view-student-attendance">View Student Attendance</a>
                        <a href="/lecturer-logout" class="btn btn-danger">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-content">
            <div class="discription">
                <h3>
                    welcome "{{ student_atten.lecturer }}" 
                </h3>
            </div>
        </div>
        <div class="request-for-delete text-center">
            <h2>Are you sure</h2>
            <p>Are you sure you want to delete the selected student? All of the following objects and their related items will be deleted: <span class="text-primary">{{ student_atten.student }}</span></p>
            <p>
                <a href="/delete/{{ student_atten.id }}" class="btn btn-danger">Yes i'am sure</a>
                <a href="/view-student-attendance" class="btn btn-secondary">No, take me back</a>
            </p>
        </div>
    </div>
</body>
</html>